@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

//Variables
$container-padding: 10px;

$buttons-container-height: 50px;
$button-margin: 0 10px;
$button-height: 20px;
$button-padding: .375rem .75rem;
$button-border-radius: 4px;
$button-transition: .3s;
$button-font-size: .8em;

$button-color: rgb(108, 117, 125);
$button-color-hover: #5a6268;
$primary-color: rgb(0, 123, 255);
$primary-color-hover: #0069d9;
$success-color: rgb(40, 167, 69);
$success-color-hover: #218838;
$danger-color: rgb(220, 53, 69);
$danger-color-hover: #c82333;

$text-light: white;

$shadow: 0px 0px 20px 4px rgba(194,194,194,1);

//Styles
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;

    body {
        margin: inherit;
        padding: inherit;
        width: inherit;
        height: inherit;

        font-family: 'Roboto', sans-serif;

        div.container {
            padding: $container-padding;
            box-sizing: border-box;

            div.buttons-container {
                height: $buttons-container-height;
                display: flex;
                align-items: center;
                margin-bottom: $buttons-container-height / 2.5;
            }

            div.code-area {
                height: calc(100% - #{$buttons-container-height} * 2);

                div#input-container {
                    height: 100%;

                    div.CodeMirror {
                        height: 100%;
                        font-family: 'Roboto Mono', monospace;
                    }
                }
            }
        }
    }

    //General styles
    .d-none {
        display: none;
    }

    //Button styles
    .button {
        height: $button-height;
        padding: $button-padding;
        font-family: inherit;
        font-size: $button-font-size;
        line-height: $button-height;
        color: $text-light;
        background-color: $button-color;
        border: none;
        box-sizing: content-box;
        margin: $button-margin;
        border-radius: $button-border-radius;
        transition: $button-transition;

        input[type="file"] {
            display: none;
        }

        &:hover {
            transition: $button-transition;
            background-color: $button-color-hover;

            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;
            box-shadow: $shadow;
        }
    }
    .button.button-primary {
        background-color: $primary-color;
        color: $text-light;
        transition: $button-transition;

        &:hover {
            transition: $button-transition;
            background-color: $primary-color-hover;
        }
    }
    .button.button-succcess {
        background-color: $success-color;
        color: $text-light;
        transition: $button-transition;

        &:hover {
            transition: $button-transition;
            background-color: $success-color-hover;
        }
    }
    .button.button-danger {
        background-color: $danger-color;
        color: $text-light;
        transition: $button-transition;

        &:hover {
            transition: $button-transition;
            background-color: $danger-color-hover;
        }
    }
}